
.gallery{

    margin-top:-0.5vw;
    border-bottom:0.1vw solid white;

}
.piece{

    position:relative;
    top:0;
    left:0;
    right:0;
    height:auto;
    border-top:0.1vw solid white;
    display:flex;
    flex-flow:column nowrap;
    font-family: Helvetica, sans-serif;
    font-weight:400;
    font-size:0.85vw;
    color:white;
    border:0.1vw solid white;
    

    .normalOne,.video{
        height:90vh;
    }


    .row{

        display:flex;
        flex-flow:row nowrap;
        padding-top:0.7vw;
        padding-bottom:0.7vw;


    .media{
        flex:4;

        
        .mediaInner{
            height:100%;
            border:0.1vw solid blue;
            position:relative;



            .innerLayout{
                height:100%;
                border:0.1vw solid red;
                position:absolute;
                left:0;
                top:0;
                
                


            
             img{
                height:90vh;
                width:100%;
                object-fit: contain;
             }
            
            }


        }
            
            .videoOutline{
                position: relative;
                padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
                width:100%;
                .react-player {
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
            }
        
        .mediaInnerMany{

            img{
                height: 90vh;
                width: 100%;
                object-fit: contain;
             }

        }
    }

    .desc{
        flex:5;
        position:relative;
        margin-left:14vw;


        .projectNumber{
            position:absolute;
            right:0;
            top:0;
            margin:0;
        }

        .projectDesc{
            width:49%;
        }

        .descBottom{

            flex:5;
            display:flex;
            flex-flow:column nowrap;
            align-items: flex-start;
            position:absolute;
            bottom:0;
            right:0;
            left:0;



            .furtherBottom{
                display:flex;
                flex-flow:row nowrap;
                align-items:flex-end;
                align-content:flex-end;
                width:100%;


                p{
                    margin:0;
                    padding:0;
                }
                             


            }

            .projectTitle{
                flex:2;


            }
            .projectYear,.projectType{
                flex:1;
            }

            .projectYear{
                padding-left:3vw;
            }
        }
        

    }
    }

    
}


@media only screen and (min-width:1900px){

    .gallery{

        margin-top:-0.25vw;


       
    
    }


}
