.header{
    color:white;
    display:flex;
    flex-flow:row nowrap;
    font-family: Helvetica, sans-serif;
    
    font-weight:400;
    font-size:0.85vw;
    padding:0;
    margin:0;
    margin:-0.5vw 0.5vw 0 0.5vw;
    padding:0vw 0 2.5vw 0;

    position:fixed;
    top:0;
    left:0;
    right:0;

    background-color: black;
    z-index:1;

    .headerName{
        flex:2;
    }

    .headerInformation{
        flex:2;

        &:hover{
            font-style:italic;
        }
    }


    .headerSocial{
        flex:2;

        .instagram,.mail{
            color:white;
            text-decoration: none;
        }

        .instagram:hover{

            font-style:italic;

        }

        .mail:hover{

            font-style:italic;

        }
    
    }

    .headerBlank{
        flex:1;
    }

    .headerClock{

        flex:2;
        display:flex;
        justify-content: flex-end;
    }
}

.scrollDown{
    position:relative;
    padding-top:95vh;
    color:white;

    p{

        font-family: Helvetica, sans-serif;
    
    font-weight:400;
    font-size:0.85vw;

    }
}