.info{
    color:white;
    font-family: Helvetica, sans-serif;
    
    font-weight:400;
    font-size:0.85vw;
    line-height:1vw;

    padding:5vh 73% 0vw 0vw;

    p{
        padding-bottom:3vh
    }
}