@import 'header';

@import 'gallery';

@import 'info';


body{
    background-color: black;
    margin:0vw 0.5vw;
    padding:0;

      
  

  
}
/* width */
::-webkit-scrollbar {
  width: 0.6vw;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

html{

  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */

      scrollbar-color: #474747 Transparent;

}