@import "header";

@import "gallery";

@import "info";
@import "video";

body {
  background-color: black;
  margin: 0vw 0.5vw;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 100%;
}
/* width */
html::-webkit-scrollbar {
  display: none;
}

html {
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
